# import pandas as pd

In [18]:
cars_df = pd.read_csv('cars.csv')

In [19]:
# Display the first few rows
print(cars_df.head())
print()
print()
# Display the column names
print(cars_df.columns)
print()
print()

# Display information about the DataFrame
print(cars_df.info())

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438


Index(['age', 'gender', 'miles', 'debt', 'income', 'sales'], dtype='object')


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963 entries, 0 to 962
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     963 non-null    int64
 1   gender  963 non-null    int64
 2   miles   963 non-null    int64
 3   debt    963 non-null    int64
 4   income  963 non-null    int64
 5   sales   963 non-null    int64
dtypes: int64(6)
memory usage: 45.3 KB
None

In [9]:
import numpy as np
df = pd.DataFrame(np.random.rand(20, 5))
print(df)
print()
print()
# Create a Series from a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)
print()
print()
print()
# Set the index of a DataFrame using a date range
df.index = pd.date_range('1900/1/30', periods=df.shape[0])
print(df)
print()
print()

           0         1         2         3         4
0   0.273819  0.371780  0.816333  0.489468  0.316923
1   0.973184  0.134908  0.492687  0.091821  0.196063
2   0.192366  0.370158  0.501710  0.004813  0.123916
3   0.820320  0.974031  0.969254  0.659765  0.291740
4   0.518261  0.242969  0.409777  0.692349  0.799234
5   0.935181  0.530193  0.264141  0.907045  0.585738
6   0.992743  0.720621  0.910374  0.436318  0.584637
7   0.863598  0.448713  0.461405  0.871150  0.847386
8   0.339674  0.752306  0.451857  0.463955  0.804783
9   0.915870  0.502772  0.855857  0.522129  0.849269
10  0.858342  0.784297  0.073158  0.454885  0.426442
11  0.886582  0.633783  0.166854  0.876934  0.264534
12  0.037879  0.147299  0.859113  0.132264  0.069856
13  0.645693  0.961955  0.364115  0.187808  0.001672
14  0.030235  0.843078  0.401335  0.989001  0.451623
15  0.052154  0.530259  0.753065  0.401475  0.199128
16  0.221371  0.223873  0.646446  0.506984  0.395013
17  0.203395  0.681145  0.616708  0.746164  0.967758
18  0.326718  0.155196  0.350337  0.982855  0.431960
19  0.190031  0.311474  0.840178  0.198842  0.468922

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

                   0         1         2         3         4
1900-01-30  0.273819  0.371780  0.816333  0.489468  0.316923
1900-01-31  0.973184  0.134908  0.492687  0.091821  0.196063
1900-02-01  0.192366  0.370158  0.501710  0.004813  0.123916
1900-02-02  0.820320  0.974031  0.969254  0.659765  0.291740
1900-02-03  0.518261  0.242969  0.409777  0.692349  0.799234
1900-02-04  0.935181  0.530193  0.264141  0.907045  0.585738
1900-02-05  0.992743  0.720621  0.910374  0.436318  0.584637
1900-02-06  0.863598  0.448713  0.461405  0.871150  0.847386
1900-02-07  0.339674  0.752306  0.451857  0.463955  0.804783
1900-02-08  0.915870  0.502772  0.855857  0.522129  0.849269
1900-02-09  0.858342  0.784297  0.073158  0.454885  0.426442
1900-02-10  0.886582  0.633783  0.166854  0.876934  0.264534
1900-02-11  0.037879  0.147299  0.859113  0.132264  0.069856
1900-02-12  0.645693  0.961955  0.364115  0.187808  0.001672
1900-02-13  0.030235  0.843078  0.401335  0.989001  0.451623
1900-02-14  0.052154  0.530259  0.753065  0.401475  0.199128
1900-02-15  0.221371  0.223873  0.646446  0.506984  0.395013
1900-02-16  0.203395  0.681145  0.616708  0.746164  0.967758
1900-02-17  0.326718  0.155196  0.350337  0.982855  0.431960
1900-02-18  0.190031  0.311474  0.840178  0.198842  0.468922

In [10]:
# Display the first n rows of the DataFrame
n = 5
print(cars_df.head(n))
print()

# Display the last n rows of the DataFrame
print(cars_df.tail(n))
print()

# Display the number of rows and columns
print(f"Number of rows: {cars_df.shape[0]}")
print(f"Number of columns: {cars_df.shape[1]}")
print()

# Display information about the DataFrame
print(cars_df.info())
print()

# Display summary statistics of the DataFrame
print(cars_df.describe())

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438

     age  gender  miles   debt  income  sales
958   22       0     11   8778    9829   1593
959   19       1     23   4850    3470   4742
960   28       1     28   9312    2720  12771
961   50       0     29  51343    8713  28511
962   47       1     15   3735    6406   6104

Number of rows: 963
Number of columns: 6

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963 entries, 0 to 962
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     963 non-null    int64
 1   gender  963 non-null    int64
 2   miles   963 non-null    int64
 3   debt    963 non-null    int64
 4   income  963 non-null    int64
 5   sales   963 non-null    int64
dtypes: int64(6)
memory usage: 45.3 KB
None

              age      gender       miles          debt        income  \
count  963.000000  963.000000  963.000000    963.000000    963.000000
mean    37.971963    0.512980   27.704050  14109.004154   6176.047767
std     12.290838    0.500091   13.378181  18273.702481   3260.670142
min     19.000000    0.000000   10.000000      0.000000      0.000000
25%     27.000000    0.000000   20.000000   1475.000000   3506.500000
50%     37.000000    1.000000   25.000000   6236.000000   6360.000000
75%     49.000000    1.000000   32.000000  16686.000000   8649.500000
max     60.000000    1.000000   97.000000  59770.000000  11970.000000

              sales
count    963.000000
mean   11689.860852
std     8986.896921
min      500.000000
25%     3554.000000
50%     9130.000000
75%    19245.000000
max    29926.000000

In [11]:
data = {'Name': ['John', 'Jane', 'Bob', 'Alice'],
        'Age': [30, 25, 35, 28],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}
df = pd.DataFrame(data)

# Write the DataFrame to a JSON file
df.to_json('data.json')

In [12]:
df.to_csv('dataframe.csv')

In [15]:
df.to_excel('dataframe.xlsx')

In [2]:
import pandas as pd
print(pd.read_json('data.json'))

    Name  Age      City
0   John   30  New York
1   Jane   25    London
2    Bob   35     Paris
3  Alice   28     Tokyo

In [6]:
print(pd.read_excel('dataframe.xlsx'))

   Unnamed: 0   Name  Age      City
0           0   John   30  New York
1           1   Jane   25    London
2           2    Bob   35     Paris
3           3  Alice   28     Tokyo

In [11]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)"
dfs = pd.read_html(url)
print(dfs[0].head())

        Location  Population (1 July 2022)  Population (1 July 2023)  Change  \
0          World                7975105156                8045311448  +0.88%
1          India                1417173173                1428627663  +0.81%
2       China[a]                1425887337                1425671352  âˆ’0.02%
3  United States                 338289857                 339996564  +0.50%
4      Indonesia                 275501339                 277534123  +0.74%

  UN Continental Region[1] UN Statistical Subregion[1]
0                      NaN                         NaN
1                     Asia               Southern Asia
2                     Asia                Eastern Asia
3                 Americas            Northern America
4                     Asia          South-eastern Asia

In [12]:
df = pd.read_clipboard()
print(df)

Empty DataFrame
Columns: [https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)]
Index: []

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}?charset=utf8".format(user="root", pw="root", db="pandas"))

In [17]:
data = {'Name': ['John', 'Jane', 'Bob', 'Alice'],
        'Age': [30, 25, 35, 28],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}
import pandas as pd
df = pd.DataFrame(data)
df.to_sql(name='users',con=engine,if_exists='append',index=False,chunksize=1000)

4

In [18]:
string = "select * from users"

In [21]:
print(pd.read_sql(string,engine))

   id   Name  Age      City
0   1   John   30  New York
1   2   Jane   25    London
2   3    Bob   35     Paris
3   4  Alice   28     Tokyo
4   5   John   30  New York
5   6   Jane   25    London
6   7    Bob   35     Paris
7   8  Alice   28     Tokyo

In [6]:
import numpy as np
s = pd.Series([1, 2, 3, 1, 2, np.nan, 1])

# Count the unique values and their occurrences
value_counts = s.value_counts(dropna=False)
print(value_counts)

1.0    3
2.0    2
3.0    1
NaN    1
Name: count, dtype: int64

In [8]:
s = pd.Series([1, 2, 3, 1, 2, np.nan, 1])

#dropna removes rows or columns that contain missing values based on the specified criteria
value_counts = s.value_counts()
print(value_counts)

1.0    3
2.0    2
3.0    1
Name: count, dtype: int64