In [1]:
import pandas as pd

In [2]:
s = pd.Series([1, 2, 3, 4, 5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
s = pd.Series(d)
print(s)

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
data = {'Name': ['Ansh', 'Shubham', 'Ram', 'Krishna'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}

df = pd.DataFrame(data)
print(df)

      Name  Age      City
0     Ansh   25  New York
1  Shubham   30    London
2      Ram   35     Paris
3  Krishna   40     Tokyo

In [7]:
print(df['Name']) # Access the 'Name' column
print()
print()
print()
print(df.iloc[2])  # Access the 3rd row (index 2) using integer location
print()
print()
print()
print(df.loc[1])   # Access the 2nd row (index 1) using label

0       Ansh
1    Shubham
2        Ram
3    Krishna
Name: Name, dtype: object



Name      Ram
Age        35
City    Paris
Name: 2, dtype: object



Name    Shubham
Age          30
City     London
Name: 1, dtype: object